<div class="appointments-container">
  <h2>Appointments</h2>

  <!-- Filter Section -->
  <div class="filter-container">
    <label for="filter-date" class="filter-label"></label>
    <div class="date-input-container">
      <input
        id="filter-date"
        type="date"
        [(ngModel)]="selectedDate"
        (change)="filterByDate()"
      />
      <span class="date-placeholder" *ngIf="!selectedDate">Filter by Date</span>
    </div>    
  </div>

  <!-- Appointments Table -->
  <table class="appointments-table">
    <thead>
      <tr>
        <th><i class="fa-duotone fa-solid fa-sort"></i> Date</th>
        <th> <i class="fa-duotone fa-solid fa-sort"></i> Doctor</th>
        <th><i class="fa-duotone fa-solid fa-sort"></i> Ordonnance</th>
        <th><i class="fa-duotone fa-solid fa-sort"></i> Details</th>
        <th *ngIf="isInfermier"><i class="fa-duotone fa-solid fa-sort"></i> Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consultation of paginatedConsultations">
        <td>{{ consultation.date }}</td>
        <td>{{ consultation.doctor }}</td>
        <td>
          <button class="check-btn" (click)="viewOrdonnanceDetails(consultation.ordonnance_id)">
            Check
          </button>
        </td>
        <td>
          <button class="check-btn" (click)="viewDetails(consultation.id)">Check</button>
        </td>
        <td *ngIf="isInfermier">
          <button
            class="create-care-btn"
            (click)="goToAddCare(consultation.id)"
          >
            Créer Soin
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination">
    <button
      (click)="previousPage()"
      [disabled]="currentPage === 1"
      class="pagination-btn previous"
    >
      Previous
    </button>
    <button
      *ngFor="let page of pages"
      (click)="goToPage(page)"
      [class.active]="page === currentPage"
      class="pagination-btn"
    >
      {{ page }}
    </button>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="pagination-btn next"
    >
      Next
    </button>
  </div>
  

  <!-- Modal -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Ordonnance Details</h2>
      <p><strong>Status:</strong> {{ ordonnanceDetails?.status }}</p>
      <div *ngFor="let med of ordonnanceDetails?.medications">
        <p><strong>Medication:</strong> {{ med.name }}</p>
        <p><strong>Dose:</strong> {{ med.dose }}</p>
        <p><strong>Duration:</strong> {{ med.duration }}</p>
        <hr />
      </div>
    </div>
  </div>
</div>
