body {
    margin: 0;
    font-family: "Poppins", sans-serif; 
    display: flex;
    background-color: #f7f9fc;
  }
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  /* Navigation bar - Horizontale avec boutons */
 
  .nav-button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #271E4A;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-button.active {
    color: #695DEE;
    font-weight: bold;
    border-bottom: 2px solid #695DEE;
  }
  
  .nav-button:hover {
    color: #695DEE;
  }
  
  /* Separator ligne grise entre la barre de navigation et le contenu */
  .separator {
    border-top: 1px solid #E0E0E0;
    margin: 20px 0;
    width: 850px;
  }
  .graph-container {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 850px;
   
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #271E4A;
    
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;  /* Assurez-vous que le titre prend toute la largeur */
  }
  