<div class="appointmentsprofile-page">
    <app-sidebar></app-sidebar>
    <div class="main-contentprofile">
      <app-header-profile></app-header-profile>
      
        <div class="info">
          <h3 class="page-title">Profile</h3>
          <div class="patient-info" *ngIf="patientDetails">
            <h4>Patient Information</h4>
            <img src="/patient.png" class="patinetpic" />
            <div class="personnal-info">
              <div class="row">
                <div class="info-item">
                  <strong>Name:</strong> {{ patientDetails.user.nom }} {{ patientDetails.user.prenom }}
                </div>
                <div class="info-item">
                  <strong>Email:</strong> {{ patientDetails.user.email }}
                </div>
                <div class="info-item">
                  <strong>Phone Number:</strong> {{ patientDetails.user.telephone }}
                </div>
                <div class="info-item">
                  <strong>Address:</strong> {{ patientDetails.addresse }}
                </div>
              </div>
  
              <div class="row">
                <div class="info-item">
                  <strong>NSS:</strong> {{ patientDetails.nss }}
                </div>
                <div class="info-item">
                  <strong>Doctor:</strong>
                  <span *ngIf="doctorDetails">
                    Dr. {{ doctorDetails.user.nom }} {{ doctorDetails.user.prenom }} ({{ doctorDetails.specialite }})
                  </span>
                </div>
                <div class="info-item">
                  <strong>Another contact:</strong> {{ patientDetails.personne_contact }}
                </div>
              </div>
            </div>
  
            <div class="appointments">
              <h4>Next Appointments</h4>
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Doctor</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let appointment of appointments">
                    <td>{{ appointment.date }}</td>
                    <td>{{ doctorDetails.user.nom }}</td>
                    <td>
                      <button
                        [ngClass]="{
                          'status-today': appointment.status === 'today',
        'status-week': appointment.status === 'this week',
        'status-next-week': appointment.status === 'next week'
                        }"
                      >
                        {{ appointment.status }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  