<body>
    <app-sidebar-laboratin></app-sidebar-laboratin>
  
    <div class="main-content">
      <app-header-laboratin></app-header-laboratin>
  
      <div class="graph-container">
        <h1>Le Graphe</h1>
  
        <div class="navigation-bar">
          <button class="nav-button " >Consultations</button>
          <button class="nav-button active" > graphes</button>
        </div>
  
        <div class="separator"></div>
  
        <app-data-view></app-data-view>
        
          
          
  
        
        </div>
      </div>
    
  </body>