<div class="header-container">
  <div class="logo">
    <img src="/logo.svg" alt="Dawini Logo" />
    
  </div>
  <div class="details">
    <p><i class="fas fa-map-marker-alt"></i> Lita Co, Ltd. 999 Conway Blvd.<br />San Francisco CA 94133, United States</p>
    <p><i class="fas fa-phone-alt"></i> +49 - 123456789</p>
    <p><i class="fas fa-envelope"></i> inforaintec.com</p>
  </div>
  <div class="prescription">
    <h2><i class="fas fa-prescription-bottle-alt"></i> Prescription</h2>
    <p><i class="fas fa-calendar-day"></i> Due Date: {{ selectedDate || 'No date selected' }}</p>
  </div>
</div>
