<div class="data-page">
    <h2>Images Importées</h2>
  
    <!-- Tableau -->
    <table>
      <thead>
        <tr>
          <th>Nom de l'image</th>
          <th>Type</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Les lignes seront insérées dynamiquement ici -->
      </tbody>
    </table>
  
    <!-- Observations -->
    <app-observation-radiologue>
        <textarea placeholder="Écrire une observation"></textarea>
    </app-observation-radiologue>
  </div>