.page-container {
    display: flex;
    min-height: 100vh;
    background-color: #f7f9fc;
  }

  
  .content-container {
    margin-top: 20px;
  }
  .appointments-page {
    display: flex;
    height: 100vh; /* Full screen height */
  }
    
  .main-content{
    flex: 1; /* Take up remaining space next to sidebar */
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Background color */
  }
    