.sidebar {
  position: fixed; /* Fixes the sidebar to the side of the page */
  top: 0;          /* Aligns the sidebar to the top of the page */
  left: 0;         /* Aligns the sidebar to the left side */
  width: 250px;    /* Sets the width of the sidebar */
  height: 100vh; 
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif; /* hadou l fonts*/
}

.sidebar ul li a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  display: flex; /* Align icon and text */
}
.logo {
  width: 150px;
  margin-bottom: 30px;
  cursor: pointer; /* Indicate clickable logo */
}

.nav-links {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  width: 100%;
  margin: 15px 0;
}

.nav-links button {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  text-decoration: none;
  color: #12175e;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nav-links button:hover {
  background-color: #eaeaea;
  color: #6c63ff; /* Add hover effect for better interactivity */
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logout-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #363636;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.logout-btn:hover {
  background-color: #ffeaea;
  color: #ff4d4d; /* Red color for hover on logout */
}

.logout-btn .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
