<section class="dashboard">
  <div class="activity-overview-container">
    <div class="rectangle-container">
      <h3 class="activity-title">Activity Overview</h3>
      <div class="activity-overview">
        <div class="card blue">
          <i class="fas fa-calendar-check"></i>
          {{appointments}}<br />Appointments
        </div>
        <div class="card green">
          <i class="fas fa-users"></i> {{patients}}<br />Patients
        </div>
        <div class="card yellow">
          <i class="fas fa-user-md"></i> {{doctors}}<br />Doctors
        </div>
        <div class="card purple">
          <i class="fas fa-vial"></i> {{labTests}}<br />Lab Tests
        </div>
      </div>
    </div>
  </div>
