<div class="data-container">
 

  <!-- Conteneur pour le tableau et le graphique -->
  <div class="table-chart-container">
    <!-- Tableau -->
    <table id="dataTable">
      <!-- Le tableau sera rempli dynamiquement via Renderer2 -->
    </table>

    <!-- Graphique -->
    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>
  </div>

  <!-- Section des observations -->
  <app-observation>
    <textarea placeholder="Écrire une observation"></textarea>
  </app-observation>
</div>
