<div class="page-container">
  <app-sidebar-doctor></app-sidebar-doctor>
    <div class="main-content">
        <!-- Header -->
        <app-header-profile></app-header-profile>
        <div class="content-container">
<div class="doctor-profile-container">
    <h1 class="page-title">Doctor Profile</h1>
  
    <div class="profile-content" *ngIf="doctorProfile">
      <div class="profile-details">
        <p><strong>Name:</strong> {{ doctorProfile.nom }} {{ doctorProfile.prenom }}</p>
        <p><strong>Email:</strong> {{ doctorProfile.email }}</p>
        <p><strong>Phone Number:</strong> {{ doctorProfile.telephone }}</p>
        <p><strong>Speciality:</strong> {{ doctorProfile.specialite }}</p>
      </div>
    </div>
  
    <div *ngIf="!doctorProfile" class="loading-message">
      Loading doctor profile...
    </div>
  </div>
</div>
</div>
</div>