<div class="sidebar">
    <!-- Logo -->
    <img src="/logo.svg" alt="Dawini Logo" class="logo" />
  
    <!-- Navigation Links -->
    <ul class="nav-links">
      <li>
        <button class="nav-btn" (click)="navigateTo('patientslist')">
          <img src="/patients.png" alt="Patients Icon" class="icon" />
          Patients
        </button>
      </li>
    </ul>
  
    <!-- Logout Button -->
    <button class="logout-btn" (click)="onLogout()">
      <img src="/logoutIcon.svg" alt="Logout Icon" class="icon" />
      Logout
    </button>
  </div>
  