body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color: #f7f9fc;
  }
  
  .nav-button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #271E4A;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-button {
    color: #695DEE;
    font-weight: bold;
    border-bottom: 2px solid #695DEE;
  }
  
  .nav-button:hover {
    color: #695DEE;
  }
  
  h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: #271e4a;
    margin-bottom: 30px;
  }
  .diagnosis-page {
    padding: 20px;
    width: 100%;
  }
  
  
  .diagnosis-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 860px;
    height: 300px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    background-color: rgb(240, 239, 239);
    border-radius: 30px;
    overflow: hidden;
    max-height: 300px; /* Maximum height to trigger the scrollbar */
    overflow-y: auto;
  }
  
  
  textarea:focus {
    outline: none;
    border-color: #695dee;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  
    .actions {
        display: flex;
        justify-content: flex-end; /* Align buttons to the right */
        gap: 10px;
        margin-top: 20px;
        width: 100%; /* Ensure the actions take full width */
      }
  
  
  .exam-btn,
  .cancel-btn,
  .next-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 140px;
    height: 40px;
  }
  
  .exam-btn {
    background-color: #695dee;
    color: white;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .next-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  